.tile {
    position: absolute;

    background-repeat: no-repeat;

    width: 180px;
    height: 180px;

    text-align: center;
    font-size: 40px;
    padding: 68px 0;
}

#t-1 {
    top: 100px;
    left: 680px;
}

#t-2 {
    top: 100px;
    left: 860px;
}

#t-3 {
    top: 100px;
    left: 1040px;
}

#t-4 {
    top: 260px;
    left: 590px;
}

#t-5 {
    top: 260px;
    left: 770px;
}

#t-6 {
    top: 260px;
    left: 950px;
}

#t-7 {
    top: 260px;
    left: 1130px;
}

#t-8 {
    top: 420px;
    left: 500px;
}

#t-9 {
    top: 420px;
    left: 680px;
}

#t-10 {
    top: 420px;
    left: 860px;
}

#t-11 {
    top: 420px;
    left: 1040px;
}

#t-12 {
    top: 420px;
    left: 1220px;
}

#t-13 {
    top: 580px;
    left: 590px;
}

#t-14 {
    top: 580px;
    left: 770px;
}

#t-15 {
    top: 580px;
    left: 950px;
}

#t-16 {
    top: 580px;
    left: 1130px;
}

#t-17 {
    top: 740px;
    left: 680px;
}

#t-18 {
    top: 740px;
    left: 860px;
}

#t-19 {
    top: 740px;
    left: 1040px;
}
